@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
  font-family: 'Dongle';
  font-size: 32px;
  margin: 0;
}

.team {
  background-image: url('https://images.unsplash.com/photo-1617042375876-a13e36732a04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 100vh;
  width: 100%;

  margin-bottom: 0;

  color: white;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-title {
  position: absolute;
  top: 200px;
  left: 46%;
}

.team-content {
  position: absolute;
  top: 320px;
  left: 46%;
  width: 42%;
}

.introduce {
  padding-bottom: 90px;
  margin-bottom: 0;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: gradientChange 10s infinite;
}

.team-introduce {
  margin: 0;
  padding-top: 100px;
}

.introduce-content {
  display: flex;
  align-items: center;
  width: 60%;
}

.introduce p {
  padding-right: 200px;
}

.team-image {
  width: 100%;
  height: 350px;

  border-radius: 10px;
}

.team-member {
  background-color: rgb(111, 140, 160);
  /* height: 450px; */
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-member > h3 {
  margin: 0;
  padding-top: 30px;
}

.member {
  width: 50%;
}

.comment {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

button {
  cursor: pointer;

  background: none;
  border: none;

  font-family: 'Dongle';
  font-size: 32px;

  color: white;
}

.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(108, 178, 206);
  background: linear-gradient(
    0deg,
    rgb(110, 176, 204) 0%,
    rgb(27, 82, 138) 100%
  );
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(155, 76, 76, 0.1),
    4px 4px 5px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px rgba(255, 255, 255, 0.133),
    4px 4px 5px 0px rgba(255, 255, 255, 0.067);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 15px 0px rgba(255, 255, 255, 0.822),
    4px 4px 5px 0px rgba(255, 255, 255, 0.822);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(140, 197, 230, 0.432),
    4px 4px 5px 0px rgba(140, 197, 230, 0.432);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
